{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="alert alert-info" style="overflow: hidden;">
            <div class="row">
                {{ text_cryptapi_image }}<br/>
                <span style="margin-left:12px; line-height: 25px">{{ text_connect_cryptapi }}</span><br/>
                <span style="margin-left:12px; line-height: 25px">{{ text_cryptapi_suppport }}</span>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_cryptapi_status" id="input-status" class="form-control">
                                {% if payment_cryptapi_status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="cryptapi_cryptapi_title">{{ title }}</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="cryptapi_cryptapi_title" name='payment_cryptapi_title'
                                   {% if payment_cryptapi_title is empty %}value="Cryptocurrency" {% else %}value="{{ payment_cryptapi_title }}"{% endif %}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="cryptapi_branding">{{ branding }}</label>
                        <div class="col-sm-10">
                            <select name="payment_cryptapi_branding" id="cryptapi_branding" class="form-control">
                                {% if payment_cryptapi_branding is empty %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% elseif payment_cryptapi_branding == 1 %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% elseif payment_cryptapi_branding == 0 %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="cryptapi_blockchain_fees">
                            <span data-toggle="tooltip" title="{{ text_blockchain_fees }}">
                               {{ blockchain_fees }}
                            </span>
                        </label>
                        <div class="col-sm-10">
                            <select name="payment_cryptapi_blockchain_fees" id="cryptapi_blockchain_fees" class="form-control">
                                {% if payment_cryptapi_blockchain_fees == 1 %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_cryptapi_fees">
                            <span data-toggle="tooltip" title="{{ text_fees }}">
                               {{ fees }}
                            </span>
                        </label>
                        <div class="col-sm-10">
                            <select name="payment_cryptapi_fees" id="payment_cryptapi_fees" class="form-control">
                                <option value="0.05"
                                        {% if payment_cryptapi_fees == "0.05" %}
                                            selected="selected"
                                        {% endif %}
                                >5%
                                </option>
                                <option value="0.048"
                                        {% if payment_cryptapi_fees == "0.048" %}
                                            selected="selected"
                                        {% endif %}
                                >4.8%
                                </option>
                                <option value="0.045"
                                        {% if payment_cryptapi_fees == "0.045" %}
                                            selected="selected"
                                        {% endif %}
                                >4.5%
                                </option>
                                <option value="0.042"
                                        {% if payment_cryptapi_fees == "0.042" %}
                                            selected="selected"
                                        {% endif %}
                                >4.2%
                                </option>
                                <option value="0.04"
                                        {% if payment_cryptapi_fees == "0.04" %}
                                            selected="selected"
                                        {% endif %}
                                >4%
                                </option>
                                <option value="0.038"
                                        {% if payment_cryptapi_fees == "0.038" %}
                                            selected="selected"
                                        {% endif %}
                                >3.8%
                                </option>
                                <option value="0.035"
                                        {% if payment_cryptapi_fees == "0.035" %}
                                            selected="selected"
                                        {% endif %}
                                >3.5%
                                </option>
                                <option value="0.032"
                                        {% if payment_cryptapi_fees == "0.032" %}
                                            selected="selected"
                                        {% endif %}
                                >3.2%
                                </option>
                                <option value="0.03"
                                        {% if payment_cryptapi_fees == "0.03" %}
                                            selected="selected"
                                        {% endif %}
                                >3%
                                </option>
                                <option value="0.028"
                                        {% if payment_cryptapi_fees == "0.028" %}
                                            selected="selected"
                                        {% endif %}
                                >2.8%
                                </option>
                                <option value="0.025"
                                        {% if payment_cryptapi_fees == "0.025" %}
                                            selected="selected"
                                        {% endif %}
                                >2.5%
                                </option>
                                <option value="0.022"
                                        {% if payment_cryptapi_fees == "0.022" %}
                                            selected="selected"
                                        {% endif %}
                                >2.2%
                                </option>
                                <option value="0.02"
                                        {% if payment_cryptapi_fees == "0.02" %}
                                            selected="selected"
                                        {% endif %}
                                >2%
                                </option>
                                <option value="0.018"
                                        {% if payment_cryptapi_fees == "0.018" %}
                                            selected="selected"
                                        {% endif %}
                                >1.8%
                                </option>
                                <option value="0.015"
                                        {% if payment_cryptapi_fees == "0.015" %}
                                            selected="selected"
                                        {% endif %}
                                >1.5%
                                </option>
                                <option value="0.012"
                                        {% if payment_cryptapi_fees == "0.012" %}
                                            selected="selected"
                                        {% endif %}
                                >1.2%
                                </option>
                                <option value="0.01"
                                        {% if payment_cryptapi_fees == "0.01" or payment_cryptapi_fees is empty  %}
                                            selected="selected"
                                        {% endif %}
                                >1%
                                </option>
                                <option value="0.0090"
                                        {% if payment_cryptapi_fees == "0.0090" %}
                                            selected="selected"
                                        {% endif %}
                                >0.90%
                                </option>
                                <option value="0.0085"
                                        {% if payment_cryptapi_fees == "0.0085" %}
                                            selected="selected"
                                        {% endif %}
                                >0.85%
                                </option>
                                <option value="0.0080"
                                        {% if payment_cryptapi_fees == "0.0080" %}
                                            selected="selected"
                                        {% endif %}
                                >0.80%
                                </option>
                                <option value="0.0075"
                                        {% if payment_cryptapi_fees == "0.0075" %}
                                            selected="selected"
                                        {% endif %}
                                >0.75%
                                </option>
                                <option value="0.0070"
                                        {% if payment_cryptapi_fees == "0.0070" %}
                                            selected="selected"
                                        {% endif %}
                                >0.70%
                                </option>
                                <option value="0.0065"
                                        {% if payment_cryptapi_fees == "0.0065" %}
                                            selected="selected"
                                        {% endif %}
                                >0.65%
                                </option>
                                <option value="0.0060"
                                        {% if payment_cryptapi_fees == "0.0060" %}
                                            selected="selected"
                                        {% endif %}
                                >0.60%
                                </option>
                                <option value="0.0055"
                                        {% if payment_cryptapi_fees == "0.0055" %}
                                            selected="selected"
                                        {% endif %}
                                >0.55%
                                </option>
                                <option value="0.0050"
                                        {% if payment_cryptapi_fees == "0.0050" %}
                                            selected="selected"
                                        {% endif %}
                                >0.50%
                                </option>
                                <option value="0.0040"
                                        {% if payment_cryptapi_fees == "0.0040" %}
                                            selected="selected"
                                        {% endif %}
                                >0.40%
                                </option>
                                <option value="0.0030"
                                        {% if payment_cryptapi_fees == "0.0030" %}
                                            selected="selected"
                                        {% endif %}
                                >0.30%
                                </option>
                                <option value="0.0025"
                                        {% if payment_cryptapi_fees == "0.0025" %}
                                            selected="selected"
                                        {% endif %}
                                >0.25%
                                </option>
                                <option value="0"
                                        {% if payment_cryptapi_fees is empty or payment_cryptapi_fees == '0' %}
                                            selected="selected"
                                        {% endif %}
                                >0%
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="cryptapi_qrcode_size">{{ qrcode_size }}</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="cryptapi_qrcode_size" name='payment_cryptapi_qrcode_size'
                                   {% if payment_cryptapi_qrcode_size is empty %}value="300" {% else %}value="{{ payment_cryptapi_qrcode_size }}"{% endif %}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="cryptapi_qrcode_default">
                            {{ qrcode_default }}
                        </label>
                        <div class="col-sm-10">
                            <select name="payment_cryptapi_qrcode_default" id="cryptapi_qrcode_default" class="form-control">
                                {% if payment_cryptapi_qrcode_default is empty or payment_cryptapi_qrcode_default != '0' %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% elseif payment_cryptapi_branding == 1 %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% elseif payment_cryptapi_branding == 0 %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="cryptapi_qrcode">
                            <span data-toggle="tooltip" title="{{ text_qrcode }}">
                               {{ qrcode }}
                            </span>
                        </label>
                        <div class="col-sm-10">
                            <select name="payment_cryptapi_qrcode" id="cryptapi_qrcode" class="form-control">
                                <option value="without_ammount"
                                        {% if payment_cryptapi_qrcode is empty or payment_cryptapi_qrcode == 'without_ammount' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ qrcode_without_ammount }}</option>
                                <option value="ammount"
                                        {% if payment_cryptapi_qrcode == 'ammount' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ qrcode_ammount }}</option>
                                <option value="hide_ammount"
                                        {% if payment_cryptapi_qrcode == 'hide_ammount' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ qrcode_hide_ammount }}</option>
                                <option value="hide_without_ammount"
                                        {% if payment_cryptapi_qrcode == 'hide_without_ammount' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ qrcode_hide_without_ammount }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="cryptapi_color_scheme">
                            {{ color_scheme }}
                        </label>
                        <div class="col-sm-10">
                            <select name="payment_cryptapi_color_scheme" id="cryptapi_color_scheme" class="form-control">
                                <option value="light"
                                        {% if payment_cryptapi_color_scheme is empty or payment_cryptapi_color_scheme == 'light' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ scheme_light }}</option>
                                <option value="dark"
                                        {% if payment_cryptapi_color_scheme == 'dark' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ scheme_dark }}</option>
                                <option value="auto"
                                        {% if payment_cryptapi_color_scheme == 'auto' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ scheme_auto }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="cryptapi_refresh_values">
                            <span data-toggle="tooltip" title="{{ text_refresh_values }}">
                               {{ refresh_values }}
                            </span>
                        </label>
                        <div class="col-sm-10">
                            <select name="payment_cryptapi_refresh_values" id="cryptapi_refresh_values" class="form-control">
                                <option value="0"
                                        {% if payment_cryptapi_refresh_values == '0' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ never }}
                                </option>
                                <option value="300"
                                        {% if payment_cryptapi_refresh_values is empty or payment_cryptapi_refresh_values == '300' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ five_minutes }}
                                </option>
                                <option value="600"
                                        {% if payment_cryptapi_refresh_values == '600' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ ten_minutes }}
                                </option>
                                <option value="900"
                                        {% if payment_cryptapi_refresh_values == '900' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ fifteen_minutes }}
                                </option>
                                <option value="1800"
                                        {% if payment_cryptapi_refresh_values == '1800' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ thirty_minutes }}
                                </option>
                                <option value="2700"
                                        {% if payment_cryptapi_refresh_values == '2700' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ forty_five_minutes }}
                                </option>
                                <option value="3600"
                                        {% if payment_cryptapi_refresh_values == '3600' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ sixty_minutes }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="cryptapi_order_cancelation_timeout">
                            <span data-toggle="tooltip" title="{{ text_order_cancelation_timeout }}">
                               {{ order_cancelation_timeout }}
                            </span>
                        </label>
                        <div class="col-sm-10">
                            <select name="payment_cryptapi_order_cancelation_timeout" id="cryptapi_order_cancelation_timeout" class="form-control">
                                <option value="0"
                                        {% if payment_cryptapi_order_cancelation_timeout == '0' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ never }}
                                </option>
                                <option value="3600"
                                        {% if payment_cryptapi_order_cancelation_timeout is empty or payment_cryptapi_order_cancelation_timeout == '3600' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ one_hour }}
                                </option>
                                <option value="21600"
                                        {% if payment_cryptapi_order_cancelation_timeout == '21600' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ six_hours }}
                                </option>
                                <option value="43200"
                                        {% if payment_cryptapi_order_cancelation_timeout == '21600' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ twelve_hours }}
                                </option>
                                <option value="64800"
                                        {% if payment_cryptapi_order_cancelation_timeout == '64800' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ eighteen_hours }}
                                </option>
                                <option value="86400"
                                        {% if payment_cryptapi_order_cancelation_timeout == '86400' %}
                                            selected="selected"
                                        {% endif %}
                                >{{ twenty_four_hours }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
                        <div class="col-sm-10">
                            <select name="payment_cryptapi_standard_geo_zone_id" id="input-geo-zone" class="form-control">
                                <option value="0">{{ text_all_zones }}</option>
                                {% for geo_zone in geo_zones %}
                                    {% if geo_zone.geo_zone_id == payment_cryptapi_standard_geo_zone_id %}
                                        <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                                    {% else %}
                                        <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-order-status">{{ entry_order_status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_cryptapi_order_status_id" id="input-order-status" class="form-control">
                                {% for order_status in order_statuses %}
                                    {% if order_status.order_status_id == payment_cryptapi_order_status_id %}
                                        <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                    {% else %}
                                        <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_cryptapi_sort_order" value="{{ payment_cryptapi_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="cryptapi_cryptapi_api_key">
                            {{ api_key }}
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="cryptapi_cryptapi_api_key" name='payment_cryptapi_api_key'
                                   {% if payment_cryptapi_api_key is empty %}value="" {% else %}value="{{ payment_cryptapi_api_key }}"{% endif %}>
                            <p class="mt-2">
                                {{ api_key_info }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-12 text-center" style="margin-bottom: 20px">
                            <label class="control-label text-center" style="float: none !important;">
                                {{ entry_cryptocurrencies }}
                            </label>
                            <p>
                                {{ help_cryptocurrencies }}
                            </p>
                        </div>
                        <input type="hidden" id="cryptapi_cryptocurrencies_array_cache" name="payment_cryptapi_cryptocurrencies_array_cache"
                               value='{{ payment_cryptapi_cryptocurrencies_array|json_encode() }}'>
                        {% for ticker, coin in payment_cryptapi_cryptocurrencies_array %}
                            <div style="display: flex; flex-direction: row; margin-bottom: 10px">
                                <div class="col-sm-3 text-right" style="float: unset; display: block">
                                    <input style="float: left" type='checkbox' name='payment_cryptapi_cryptocurrencies[{{ ticker }}]' id="cryptapi_cryptocurrencies_{{ ticker }}"
                                           value='{{ ticker }}' {{ payment_cryptapi_cryptocurrencies[ticker]  is defined and payment_cryptapi_cryptocurrencies[ticker]  == ticker ? 'checked="checked"' : '' }} />
                                    <img style="display: inline; pointer-events: none !important; max-width: 100%; height: auto; margin-right: 5px;" width="24" src="{{ coin['logo'] }}" />
                                    <label class="control-label" for="cryptapi_cryptocurrencies_{{ ticker }}" style="font-size: 12px">
                                    <span data-toggle="tooltip" title="{{ help_cryptocurrency }} {{ coin['name'] }}">
                                        {{ coin['name'] }}
                                    </span>
                                    </label>
                                </div>
                                <div class="col-sm-9" style="float: unset; display: block">
                                    <p>
                                        <input class="form-control" type="text" id="cryptapi_cryptocurrencies_address_{{ ticker }}" name='payment_cryptapi_cryptocurrencies_address_{{ ticker }}'
                                               placeholder="{{ coin['name'] }}" value="{{ attribute(_context, 'payment_cryptapi_cryptocurrencies_address_' ~ ticker) }}">
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ disable_conversion }}</label>
                        <div class="col-sm-10">
                            <input type='checkbox' name='payment_cryptapi_disable_conversion' id="cryptapi_disable_conversion"
                                   value='1' {{ payment_cryptapi_disable_conversion is defined and payment_cryptapi_disable_conversion == 1 ? 'checked="checked"' : '' }} />
                            <p><strong>{{ disable_conversion_warn_bold }}</strong>
                                {{ disable_conversion_warn }}</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}