<p>{{ order_greeting }}
<br/><br/>
{{ order_send_payment }}
<br/>
</p>
<p><a style="padding: 10px 12px; border-radius: 8px; border: 1px solid #2695D3; background-color: #2695D3; color: #fff; margin: 40px 0;" href="{{ order_url }}" target="_blank">Pay Now</a></p>
<p>({{ order_url }})</p>
<p>
    <br/>
    {{ store }}<br/>
    {{ store_url }}
</p>