<form action="" method="POST" class="form-horizontal" id="cryptapi-payment-form">
    <fieldset id="payment">
        <legend>{{ title }}</legend>
        <div class="form-group">
            <div class="col-sm-12">
                <ul style="list-style: none outside; padding-left: 0;">
                    {% for ticker, coin in cryptocurrencies %}
                        <li style="display: flex; align-items: center; flex-direction: row; margin-bottom: 13px;">
                            <input type="radio" name="cryptapi_coin" id="cryptapi_coin_{{ ticker }}" value="{{ ticker }}"/>
                            <img style="pointer-events: none !important; max-width: 100%; height: auto; margin-right: 8px; margin-left: 12px" width="24" src="{{ coin['logo'] }}" />
                            <label style="margin-bottom: 0;" for="cryptapi_coin_{{ ticker }}">Pay with {{ coin['name'] }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </fieldset>
</form>
<div class="buttons">
    <div class="pull-right">
        <input type="button" value="{{ button_confirm }}" id="button-confirm" data-loading-text="Processing.." class="btn btn-primary"/>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        {% if blockchain_fee or fee != 'none' %}
        let symbol_left = '{{ symbol_left }}';
        let symbol_right = '{{ symbol_right }}';
        let table = $('#collapse-checkout-confirm > .panel-body');
        table.find('tfoot > tr:last-child').remove();
        table.find('tfoot').append('<tr><td colspan="4" class="text-right"><strong>Fee:</strong></td><td class="text-right">' + symbol_left + {{ cryptapi_fee }} +symbol_right + '</td></tr>')
        table.find('tfoot').append('<tr><td colspan="4" class="text-right"><strong>{{ column_total }}:</strong></td><td class="text-right">' + symbol_left + {{ total }} +symbol_right + '</td></tr>')

        $('#cryptapi-payment-form').on('change', function () {
            var val = $('input[name="cryptapi_coin"]:checked').val();
            $('#button-confirm').prop('disabled', true);
            $.ajax({
                type: "POST",
                url: "index.php?route=checkout/confirm",
                data: $(this).serialize(),
                success: function (res) {
                    let response = $(res);

                    $('#collapse-checkout-confirm > .panel-body')
                        .empty()
                        .append(response);

                    $('#button-confirm').prop('disabled', false);

                    $("input[name=cryptapi_coin][value=" + val + "]").prop("checked", true);
                }
            });
        })
        {% endif %}

        $('#button-confirm').on('click', function () {
            $.ajax({
                url: 'index.php?route=extension/payment/cryptapi/confirm',
                type: 'post',
                data: $('#cryptapi-payment-form input:checked'),
                dataType: 'json',
                cache: false,
                beforeSend: function () {
                    $('#button-confirm').button('loading');
                },
                complete: function () {
                    $('#button-confirm').button('reset');
                },
                success: function (json) {
                    if (json['redirect']) {
                        location = json['redirect'];
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        });
    });
</script>